h1 {
	font-family: 'Muli', sans-serif;
	font-size: 100px;
	text-align: center;
	color: #333333;
}

h1.homePage {
	font-family: 'Muli', sans-serif;
	font-size: 100px;
	text-align: center;
	color: #333333;
	padding-left: 20px;
	padding-right: 20px;
}

h2 {
	font-family: 'Muli', sans-serif;
	font-size: 40px;
	text-align: left;
	color: #333333;
}

h3 {
	font-family: 'Muli', sans-serif;
	font-size: 20px;
	text-align: left;
	color: #333333;
}

p {
	font-family: 'Helvetica', sans-serif;
	text-align: left;
	color: #333333;
}

.custom_container {
	width: 80%;
	margin: auto;
	text-align: center;
}


