body {
	background-color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	color:	#161616;
	line-height: 1em;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: -.03em;
	word-spacing: -.05em;
	padding-top: 20px;
	padding-bottom:20px;
	padding-left: 20px;
	padding-right: 20px;
}

h1 {
	font-family: 'Muli', sans-serif;
	font-size: 100px;
	text-align: center;
	color: #000000;
}

h1.homePage {
	font-family: 'Muli', sans-serif;
	font-size: 100px;
	text-align: center;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}

h2 {
	font-family: 'Muli', sans-serif;
	font-size: 40px;
	text-align: left;
	color: #000000;
}

h3 {
	font-family: 'Muli', sans-serif;
	font-size: 20px;
	text-align: left;
	color: #000000;
}

a {
	color: #000000;
	text-decoration: none;
	transition: color .1s ease-in-out;
	-webkit-transition: color .1s ease-in-out;
	-moz-transition: color .1s ease-in-out;
	-o-transition: color .1s ease-in-out;
	-ms-transition: color .1s ease-in-out;
}

p {
	font-family: 'Helvetica', sans-serif;
	text-align: left;
}

.custom_container {
	width: 50%;
	margin: auto;
	text-align: center;
}


